<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LOL.Dao.HeroDao">

    <select id="queryAll" resultType="LOL.entity.Hero">
        select * from HeroInfo
    </select>
</mapper>